@media (min-width: 800px) {
  /*NAVIGATION*/

  header h1 {
    font-size: 3em;
  }
  .heading {
    font-size: 110%;
  }

  nav {
    background-color: #2f3c47;
    border-top: 2px solid #a7b3a5;
  }
  .navigation {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  .navigation li {
    line-height: 15px;
    display: block;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation li:nth-child(2) a {
    border-left: 1px solid #a7b3a5;
  }
  nav ul li a {
    font-size: 100%;
    border: none;
    border-right: 1px solid #a7b3a5;
    padding: 0.6rem;
  }

  /*WEATHER MAIN SECTION*/

  .herocontainer {
    max-width: 90%;
    height: auto;
  }

  .hero-img img {
    max-width: 100%;
  }

  /*Five Day Forcast*/
  .five-day {
    display: flex;
    justify-content: center;
    background-color: white;
    height: auto;
    padding: 1em;
    margin: 1rem;
    font-size: large;
  }
  tbody {
    border: 4px solid #67839b;
  }

  #five-day-tittle {
    visibility: visible;
    text-align: center;
    background-color: #eae3ea;
  }

  .five-day-th th {
    color: #eae3ea;
    border: 2px solid #67839b;
    background-color: #2f3c47;
    padding: 1em;
  }

  .five-day-td,
  .five-day-degree {
    text-align: center;
  }

  .five-day-degree > td {
    padding-bottom: 5px;
  }

  .five-day-td img {
    width: 90px;
    padding-top: 10px;
  }

  article img {
    float: right;
    max-width: 400px;
  }
  aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* City Data*/
  #newMess > li {
    font-size: x-large;
  }

  /*ASIDE*/

  #socialmedia li img {
    width: 40px;
    padding: 5px;
  }

  footer {
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin: 0;
  }

  /*GALLERY*/

  .gallerymain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .gallerymain section {
    background-color: #a7b3a5;
  }

  .gallerymain section:hover {
    box-shadow: 0 5px 5px #777;
  }
  /* HOME PAGE STYLES*/

  .cityInfo article,
  img.homephoto {
    float: none;
  }
  .homehero1 {
    font-size: xx-large;
  }

  div.home-absolute {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 255px;
  }
}
