@media (min-width: 500px) {
  /*HEADER*/

  .heading {
    font-size: 90%;
  }

  header img {
    max-width: 40%;
  }

  /*NAVIGATION*/

  /*GALLERY*/
  .gallerymain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* HOME PAGE STYLES*/
  .cityInfo {
    justify-content: space-around;
  }

  /* City DATA */

  #newMess > li {
    font-size: large;
  }

  #cityDataimg {
    grid-area: cityLeft;
  }

  #newMess {
    grid-area: cityRight;
  }

  #cityList {
    display: grid;
    grid: 'cityLeft cityRight';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}
