@media (min-width: 500px) {
  /*NAVIGATION*/

  /*GALLERY*/
  .gallerymain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* HOME PAGE STYLES*/

  .cityInfo {
    flex-direction: row;
    justify-content: center;
  }

  .cityInfo article {
    width: 31%;
    margin: 0 7.5px;
  }
  .homephoto {
    margin: auto;
    padding: 0;
  }
}
